<h1>Add a Market</h1>  
<form action="#" method="post">  
  <div class="form-group">  
    <label for="name">Название:</label>  
    <input type="text" maxlength="100" name="name" placeholder="Наименование рынка">  
  
    <label for="city">Город:</label>  
    <input maxlength="100" name="city" placeholder="Город">  
  
    <label for="zip_code">Индекс:</label>  
    <input maxlength="100" name="zip_code" placeholder="Индекс">  
    
    
    <label for="street">Улица:</label>  
    <input maxlength="100" name="street" placeholder="Улица">  
    
    <label for="country">Страна:</label>  
    <input maxlength="100" name="country" placeholder="Страна">  
    
    <label for="lat">Ширина:</label>  
    <input maxlength="100" name="lat" placeholder="Ширина">  
    
    <label for="lon">Долгота:</label>  
    <input maxlength="100" name="lon" placeholder="Долгота">  
    
    <label for="state">Штат:</label>  
    <input maxlength="100" name="state" placeholder="Штат"> 
  
    <button type="submit">Добавить</button>  
   </div>
</form>